<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         colors="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>opt/doc</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib/</directory>
            <exclude>
                <directory>lib/Compat/</directory>
                <directory>lib/Compat/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="var/phpunit"/>
    </logging>
</phpunit>
